.perfect-centering-contents {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.flex-row-auto-wrap {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
}
.flex-column {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.full-height-width {
min-height: 100%;
/* height: auto !important; */
height: 100%;
width: 100%;
}

/*==============================*/

/* Disable right click context menu (disables all clicks) */
img { pointer-events: none; }

input[type="text"] {
    font: inherit;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0.4rem;
    outline: none;
    background-color: var(--lightest);
}
::placeholder {
    color: var(--color1);
    opacity: 0.5;
}
:-ms-input-placeholder {
    color: var(--color1);
    opacity: 0.5;
}
::-ms-input-placeholder {
    color: var(--color1);
    opacity: 0.5;
}

button, input[type="submit"] {
    margin: 0.3rem;
    /* background: none;
    color: inherit; */
    outline: none;
    font: inherit;
    cursor: pointer;
    text-shadow: inherit;
}
button.no-button { /* showed as link */
    border: none;
    text-decoration: none;
    color: var(--ligth);
    background: none;
}
button.no-button:hover {
    color: var(--color1-light);
}
.large-button {
    padding: 0.5rem 1rem;
    color: var(--lightest);
    background-color: var(--dark-t);
    border: none;
}
.large-button:hover {
    background-color: var(--color1-light-t);
    /* color: var(--darkest); */
}


/*==============================*/

.clock {
  display: inline-block;
  width: 3.6em;
  /* 
  background-color: white;
  padding: 0.2em 0.5em;
  font-family: 'Expletus Sans', cursive;
  color: var(--dark); */
  }
  /* 
  font-family: 'Megrim', cursive;
font-family: 'Wallpoet', cursive;
font-family: 'Expletus Sans', cursive;
font-family: 'Stardos Stencil', cursive;
  */


/*==============================*/

.app-frame {
    margin: 1rem 0;
    padding: 0.9rem;
    max-width: 600px;
    position: relative;
    /* border: 4px ridge var(--dark);
    border-radius: 0.8rem; */
    overflow: hidden;
    background-color: var(--dark-t);
    font-size: 0.8rem;
    color: white;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2), 0 0.4rem 1.2rem var(--shadow);
    text-shadow: 0 0 0.15rem hsla(0, 0%, 100%, 0.2), 0 0 0.6rem hsla(57, 100%, 100%, 0.2);
}

.app-frame h1, .app-frame h2 { padding: 1rem 0; }
.app-frame h1 { font-size: 2.5em; }
.app-frame h2 { font-size: 1.8em; }

/*==============================*/

main { display: block; }

/*===============*/
/* Media queries */
/*===============*/

/* I guess I will take 375px as the smallest size. */

@media only screen and (max-width: 451px) {     /* bp 451px */
    .main-container {
        padding: 0.5rem;
    }
}

@media only screen and (min-width: 451px) {     /* bp 451px */
    .main-container {}
}

@media only screen and (min-width: 600px) {     /* bp 600px */
    .main-container {}
}

@media only screen and (min-width: 768px) {     /* bp 768px */
    .main-container {}
}

@media only screen and (min-width: 1080px) {     /* bp 1080px */
    .main-container {}
}