.perfect-centering-contents {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row-auto-wrap {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}
.flex-column {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.full-height-width {
  min-height: 100%;
  width: 100%;
}

/*==============================*/

/* Disable right click context menu (disables all clicks) */
img { pointer-events: none; }

input[type="text"] {
  font: inherit;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  padding: 0.55rem 0.5rem 0.5rem;
  margin: 0.5rem 0;
  width: 12rem;
  max-width: 100%;
  outline: none;
  background-color: var(--lightest);
}
::placeholder {
  color: var(--color1);
  opacity: 0.5;
}
:-ms-input-placeholder {
  color: var(--color1);
  opacity: 0.5;
}
::-ms-input-placeholder {
  color: var(--color1);
  opacity: 0.5;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: color var(--trans-time-fast); /* Safari */
  transition: color var(--trans-time-fast);
}
a:hover { color: var(--color1-light); }

button, input[type="submit"] {
  margin: 0.4rem 0;
  outline: none;
  font: inherit;
  cursor: pointer;
  -webkit-transition: var(--trans-time-fast); /* Safari */
  transition: var(--trans-time-fast);
  text-shadow: inherit;
}
button.no-button { /* showed as link */
  border: none;
  text-decoration: none;
  color: var(--light);
  background: none;
}
button.no-button:hover {
  color: var(--color1-light);
}
button.fs-button:hover {
  transform: scale(1.1);
}
.large-button {
  padding: 0.5rem 1rem;
  color: var(--lightest);
  background-color: var(--dark-t);
  border: none;
}
.large-button:hover {
  background-color: var(--color1-light-t);
}


/*==============================*/

.clock {
  display: inline-block;
  width: 3.6em;
  }

 .tabspace { padding-left: 0.8em; }

/*==============================*/

.app-frame {
  -webkit-animation: fade-in 0.65s ease-in-out;
  animation: fade-in 0.65s ease-in-out;
  z-index: 2;
  width: 100%;
  max-width: 560px;
  margin: 0;
  padding: 0.9rem;
  position: relative;
  overflow: hidden;
  background-color: var(--dark-t);
  font-size: 0.8rem;
  color: white;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2), 0 0.4rem 1.2rem var(--shadow);
  text-shadow: 0 0 0.15rem hsla(0, 0%, 100%, 0.2), 0 0 0.6rem hsla(57, 100%, 100%, 0.2);
  border-top: 0.5px solid var(--shadow);
  border-bottom: 0.5px solid var(--shadow);
  cursor: default;
}

.app-frame h1, .app-frame h2 {
  padding: 0.75rem 0 1rem;
  line-height: 1.25;
}
.app-frame h1 { font-size: 2.5em; }
.app-frame h2 { font-size: 1.8em; }

#options {
  opacity: 1;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.9rem;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
}
#options img {
  height: 1.2rem;
}
#options .photographer-info {
  color: var(--medium);
  font-size: 0.6rem;
  text-align: center;
}
#options .full-screen-icon {
  font-size: 2rem;
  margin-left: 2rem;
  height: 100%;
  transform: rotate(45deg);
}

/*==============================*/

main {
  display: block;
  padding: 0.5rem;
}


/*===========*/
/* Animation */
/*===========*/

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}