:root {
  font-size: 23px;

  /* COLOR VARS */
  --shadow: hsla(0, 0%, 13%, 0.3);
  
  --darkest: hsl(0, 0%, 13%);
  --dark: hsl(0, 0%, 18%);
  --dark-t: hsla(0, 0%, 18%, 0.75);
  --medium: hsl(0, 0%, 60%);
	--light: hsl(0, 0%, 93%);
	--light-t: hsla(0, 0%, 93%, 0.75);
	--lightest: hsl(0, 0%, 96%);
	--lightest-t: hsla(0, 0%, 96%, 0.75);

  --color1-dark: hsl(206, 58%, 25%);
	--color1: hsl(206, 58%, 50%);
	--color1-light: hsl(206, 58%, 60%);
	--color1-light-t: hsla(206, 58%, 60%, 0.75);

  --trans-time-slow: 2s;
  --trans-time-fast: 0.45s;

	font-family: 'Josefin Sans', sans-serif;
}

@media only screen and (max-width: 350px) {   /* Custom breakpoint */
  :root { font-size: 20px; }
}

	/* Base font (from Google Fonts): */
	/*	
	<link href="https://fonts.googleapis.com/css?family=Advent+Pro:100|BenchNine:300|Heebo:100|Josefin+Sans:100|Kanit:100|Lato:100|Roboto:100|Source+Sans+Pro:200|Yanone+Kaffeesatz:200|Yantramanav:100" rel="stylesheet">
  
  font-family: 'Josefin Sans', sans-serif; maybe
	font-family: 'Yantramanav', sans-serif; maybe
	font-family: 'Yanone Kaffeesatz', sans-serif; maybe.
	font-family: 'Source Sans Pro', sans-serif; maybe.
	font-family: 'Lato', sans-serif; maybe.
  font-family: 'Advent Pro', sans-serif; maybe..
	font-family: 'Heebo', sans-serif; probably not
	font-family: 'Kanit', sans-serif; probably not
	font-family: 'BenchNine', sans-serif; probably not
	font-family: 'Roboto', sans-serif; probably not
	font-family: 'Wire One', sans-serif; no
	font-family: 'Assistant', sans-serif; no
	*/

/* Interesting, but special styles: */
/* 
<link href="https://fonts.googleapis.com/css?family=Cute+Font|Iceland|Kirang+Haerang|NTR|Stylish" rel="stylesheet">
font-family: 'Iceland', cursive;
font-family: 'NTR', sans-serif;
font-family: 'Cute Font', cursive;
font-family: 'Stylish', sans-serif;
font-family: 'Kirang Haerang', cursive;
*/
/* Clock, Numbers, WeatherApp */
/* 
<link href="https://fonts.googleapis.com/css?family=Expletus+Sans|Megrim|Stardos+Stencil|Wallpoet" rel="stylesheet">
font-family: 'Megrim', cursive;
font-family: 'Wallpoet', cursive;
font-family: 'Expletus Sans', cursive;
font-family: 'Stardos Stencil', cursive;
*/

html {
  /* height: 100vh; */
  /* scroll-behavior: smooth; */
}
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
body {
  /* min-height: 100%; */
  min-width: 320px;
  position: relative;
	background-color: var(--color1-light);
	background-image: linear-gradient(195deg, var(--color1), var(--light));
  color: var(--darkest);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}