:root {
  font-size: 25px;

  /* COLOR VARS */
  --shadow: hsla(0, 0%, 13%, 0.3);
  
  --darkest: hsl(0, 0%, 13%);
  --dark: hsl(0, 0%, 27%);
  --dark-t: hsla(0, 0%, 27%, 0.7);
  --medium: hsl(0, 0%, 60%);
  --light: hsl(0, 0%, 93%);
  --lightest: hsl(0, 0%, 96%);

  --color1-dark: hsl(197, 100%, 25%);
  --color1: hsl(197, 100%, 45%);

  font-family: monospace;

  --trans-time-slow: 0.75s;
}
html {
  /* height: 100vh; */
  /* scroll-behavior: smooth; */
}
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
body {
  /* min-height: 100%; */
  min-width: 320px;
  background-color: var(--lightest);
  color: var(--darkest);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root { height: 100vh; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/*===============*/
/* Media queries */
/*===============*/

@media only screen and (max-width: 451px) {     /* bp 451px */

}

@media only screen and (min-width: 451px) {     /* bp 451px */
    
}

@media only screen and (min-width: 600px) {     /* bp 600px */

}

@media only screen and (min-width: 768px) {     /* bp 768px */

}

@media only screen and (min-width: 1080px) {     /* bp 1080px */

}