:root {
  font-size: 22.5px;

  /* COLOR VARS */
  --shadow: hsla(0, 0%, 13%, 0.3);
  
  --darkest: hsl(0, 0%, 13%);
  --dark: hsl(0, 0%, 18%);
  --dark-t: hsla(0, 0%, 18%, 0.75);
  --medium: hsl(0, 0%, 60%);
	--light: hsl(0, 0%, 93%);
	--light-t: hsla(0, 0%, 93%, 0.75);
	--lightest: hsl(0, 0%, 96%);
	--lightest-t: hsla(0, 0%, 96%, 0.75);

  --color1-dark: hsl(206, 58%, 25%);
	--color1: hsl(206, 58%, 50%);
	--color1-light: rgb(93, 160, 212);
	--color1-light-t: hsla(206, 58%, 60%, 0.75);

  --trans-time-slow: 2s;
  --trans-time-fast: 0.45s;

	font-family: 'Josefin Sans', sans-serif;
}

@media only screen and (max-width: 385px) {   /* Custom breakpoint */
  :root { font-size: 20.5px; }
}
@media only screen and (max-width: 350px) {   /* Custom breakpoint */
  :root { font-size: 19px; }
}

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  position: relative;
	background-color: var(--color1-light);
  color: var(--darkest);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}