.settings {
  text-align: center;
  width: auto;
}
.settings h3 {
  margin: 1.1rem 0 0.6rem;
}
.settings h3:first-child {
  margin-top: 0;
}
.settings p {
  margin: 0.5rem;
  line-height: 1.2;
  color: var(--light-t);
}
.settings p a {
  font-weight: normal;
  /* text-decoration: underline;  */
  color: white;
}
.settings p a:hover {
  color: var(--color1-light);
}
.settings .my-credits p {
  line-height: 1.15;
}