
/* Background-Picture corresponding to weather :=) */

.bg-fs-fixed {
  position: fixed;
  top: 0; left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-transition: opacity var(--trans-time-slow);
  transition: opacity var(--trans-time-slow);
}

.wind-arrow {
  font-size: 0.8em;
  margin-left: 0.8em;
}

.wind-sock {
  height: 0.9em;
  padding-left: 0.75em;
}

#photographer-info {
  margin: 0.2rem;
  padding: 0.2rem;
  /* background-color: hsla(0, 0%, 18%, 0.15); */
  color: var(--medium);
  font-size: 0.6rem;
  text-align: center;
  position: fixed;
  bottom: 0; right: 0;
}

/*=================*/
/* Current Weather */
/*=================*/

.current-weather .head {
    font-size: 2.6em;
    padding-right: 1em;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.current-weather .weather-icon {
    height: 1.8em;
}
.current-weather .descr {
    font-size: 1.55em;
    padding: 0.4em 0 0.45em;
}
/* .current-weather .body {
    font-size: 0.8rem;
} */
.current-weather .wind-descr {
    margin-bottom: 0.7em;
}

/*==================*/
/* FORECAST WEATHER */
/*==================*/

.forecast-weather .forecast-head {

}
.forecast-weather .forecast-body {
  /* flex: */
  justify-content: space-around;
}
.forecast-weather .forecast-tile {
  /* float: left; */
  padding-top: 0.9em;
  padding-bottom: 0.45em;
  width: calc( (320px - 1rem - 1.8rem) / 2 );
  /* text-align: center; */
  /* padding: 0.3em 0.4em 0; */
}
.forecast-weather .forecast-icon-wrapper {
  margin: 0.4em 0;
  width: 4em;
}
.forecast-weather .fc-wind-descr {
  padding: 0.4em 0;
  font-size: 0.8em;
}
.forecast-weather .pred {
  font-size: 0.8em;
}
