
/* Background-Picture corresponding to weather :=) */
body {
    /* background-image: url("../img/kenrick-mills-728501-unsplash.jpg"); */
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.current-weather .head {
    font-size: 2.6em;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.current-weather .weather-icon {
    height: 1.8em;
}
.current-weather .descr {
    font-size: 1.55em;
    padding: 0.4em 0 0.45em;
}
/* .current-weather .body {
    font-size: 0.8rem;
} */
.wind-descr {
    margin-bottom: 0.7em;
}
.wind-arrow {
    position: relative;
    margin-left: 0.6em;
    margin-right: 0.3em;
    font-size: 0.8em;
    overflow: visible;
}

#photographer-info {
  margin: 0.2rem;
  padding: 0.2rem;
  /* background-color: hsla(0, 0%, 18%, 0.15); */
  color: var(--medium);
  font-size: 0.6rem;
  text-align: center;
  position: absolute;
  bottom: 0; right: 0;
}

/*==================*/
/* FORECAST WEATHER */
/*==================*/

.forecast-weather .forecast-body {
  display: -webkit-flex;
  display: flex;
  
}