.weather-app-frame {
    margin: 1rem;
    padding: 0.9rem;
    border: 4px ridge var(--dark);
    border-radius: 0.8rem;
    background-color: var(--dark-t);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2), 0 0.4rem 1.2rem var(--shadow);
    color: white;
    text-shadow: 0 0 0.15rem hsla(0, 0%, 100%, 0.6), 0 0 0.6rem hsla(57, 100%, 99%, 0.6);
}
/* Background-Picture should be corresponding to weather :=) */
body {
    background-image: url("../img/kenrick-mills-728501-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.weather-app-frame .head {
    font-size: 1.8rem;
}
.weather-app-frame .descr {
    font-size: 1.2rem;
    padding: 0.25rem 0.4rem 0.5rem;
}
.weather-app-frame .body {
    font-size: 0.8rem;
}